{% extends "./base.html" %}

{% block body %}
    <title>Quienes Somos</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/Desktop Screenshot 2023.04.03 - 12.34.50.44.png' %}">
    <link rel="stylesheet" href="{% static 'css/Nacionales.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<body>
    
    <div class="contexto">
      <h1>Misiones/Objetivos</h1>
      <h2>De esta pagina web</h2>
      <ul>
        <li>Somos un grupo de jovenes que decidimos formar un colectivo de noticias llamado caos news ya que estabamos cansados de los medios tradicionales y de su monotonia.</li>
        <br>
        <li>La principal razon de la creacion de esta pagina web es la de informar a las personas sobre las noticias que esta sucediendo actualmente en el pais como tambien en el resto del mundo, pero con una mirada o un aspecto diferente a los medios ya conocidos intentamos hacer una mirada mas fresca, moderna y juvenil a nuestra pagina web para que los usuarios se sientan mucho mas comodos a la hora de informarse.</li>
        <br>
        <li>Como queremos darle algo mas juvenil intentamos llamar la atencion de los jovenes pero tambien de las personas mayores que deseen informarse con un sitio web con un toque distinto al resto.</li>
        <br>
        <li>Nuestra vision es querer darle algo nuevo a las personas que deseen informar por un sitio web, darle otra opcion para informarse sin tener que recurrir a los medios mas conocidos.</li>
      </ul>
    </div>
    <p>Caos News es una pagina web que se enfoca en dar noticias reales y actuales que llaman la atencion de todo tipo de publico. Contamos con un equipo altamente capacitado y experimentado que se dedica a informar sobre lo que pasa en la actualidad . 
      Nos apasiona informar a la gente y que este al tanto con lo que pasa en el mundo y estamos comprometidos a tener un publico grande y que les guste las noticias que tenemos para ellos asi se informan con las cosas que les gusta . En Caos News, creemos en informar sobre la verdad por delante de todo y nos esforzamos por mantenerte informado con las noticias mas actuales de ultimo momento. Si estás buscando informarte de todo lo que esta pasando en la actualidad con una diseño diferente al tradicional, no dudes en contactarnos. Estamos aquí para ayudarte.</p>

    <div align="center"><img src="{% static 'img/Quienes somos.jpg' %}" width="650px"></div>

  
</body>
</html>
{% endblock %}